/*
Github/FPO-site/app/css/style-b.css
*/


.topBar {
	background:#312f2f;
	margin-bottom: 0px;
}
.c-icon {
	padding-right: 10px;
}
.online {
	padding-right: 13px;
}

.logoBar {
	background: #000;
}

.header-black {
	margin-top: 21px;
	margin-bottom: 0px;
}
.infoLinks {
	margin-top: 70px;
	margin-left: 90px;
}

.active, a:hover {
    color: #fdb71c;
}

.active-2, .title {
	color:#000000;
	font-weight: bold;
}

.splash {
	width: 100%;
	margin-top: -20px;
}

#contentBlock-1 {
	margin-top: 80px;
	margin-bottom: 300px;
}

.linkReg{
	color: #000000;
}

.social, .panel-heading {
	color: #000000;
	margin-left: 30px;
}
.panel-heading {
	color: #a7a4a0;
}
#social-bar {
	width: 250px;
	margin-left: 60px;
}

#social-nav {
	padding-bottom: 25px;
}

.navbar-default {
	background: #ebebeb;
}

.selectBoxes {
	margin-left: 25px;
}

#dropdown-label {
	margin-left: 30px;
}

.article-pic {
	width: 174px;
	height: 116px;
	padding-right: 0px;
}

#grid-1{
	margin-top: 0px;
}

#grid-1, #grid-2, #grid-3, #grid-4 {
	margin-bottom: 50px;

}
.panel-heading {
	width: 267.984px;
	margin-left: 0px;
}
.panel-title {
	font-size: 1.5em;
	margin-left: 20px;
}

.edit-text {
	margin-left: 13px;
}


@media (min-width: 1000px) {
	.line-grids {
		max-width: 4082px;
		margin-left:55px;
		margin-top: -200px;
	}
	.selectBoxes {
		margin-top: -50px;
	}
	.text-P {
		margin-top: 210px;
	}
	.left-nav-title {
		visibility: hidden;
		margin-left: 28px;
	}
	.sign-up {

		margin-top: -684px;
		margin-left: 400p
	}
}

@media (min-width: 398px) {
	.line-grids {
		max-width: 750px;
		float: left;
		margin-top: 40px;
	}
	.selectBoxes {
		margin-top: 0px;
	}
	.text-P {
		margin-top: 10px;
	}
	.left-nav-title {
		visibility: visible;
	}

}


