/*
Github/FPO-site/app/css/style-b.css
*/


.topBar {
	background:#312f2f;
	margin-bottom: 0px;
}
.c-icon {
	padding-right: 10px;
}
.online {
	padding-right: 13px;
}

.logoBar {
	background: #000;

}


.header-black {
	margin-top: 21px;
	margin-bottom: 0px;
}


.splash {
	width: 100%;
	margin-top: -20px;
}

.custom-pos {

}
